 /* .box1{
    background-color: pink;
    padding: 10px;
    margin: 100px;
}

.box2{
    background-color: yellow;
    padding: 10px;
    margin: 100px;
} */

/* 
        .block-example {
            border: 2px solid Grey ;
            padding: 20px;
            max-width: 600px;
            margin: 40px auto;
        }
        h2 {
            font-size: 24px;
        }
        .heading {
            background-color: aquamarine;
            padding: 10px;
            font-size: 32px;
            font-weight: bold;
        }
        .description {
            background-color: #ddf8d7;
            padding: 10px;
            color: #276730;
            margin-top: 10px;
        } */



         /* .container {
            border: 2px solid #888;
            padding: 24px;
            max-width: 600px;
            margin: 50px auto;
            background: #fff;
        }
        .block-heading {
            font-size: 25px;
            font-weight: bold;
        }
        .main-title {
            background: #d4ecfa;
            font-size: 36px;
            font-weight: bold;
            padding: 12px 0;
            display: block;
        }
        .description {
            background: #ddf8d7;
            color: #276730;
            padding: 10px;
            margin-top: 10px;
            display: block;
        }
        .highlight {
            color: #1877b2;
            font-weight: bold;
        } */


/* 
           .container {
            border: 2px solid #888;
            padding: 24px;
            max-width: 650px;
            margin: 40px auto;
            background-color: #fff;
        }
        .title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        .card {
            display: inline-block;
            width: 180px;
            height: 260px;
            vertical-align: top;
            margin: 20px 20px 0 0;
            border-radius: 8px;
            box-shadow: 0 2px 8px rgba(0,0,0,0.07);
            text-align: center;
            font-size: 19px;
            padding-top: 60px;
        }
        .card.book {
            background: #fce34b;
            color: #444;
        }
        .card.headphones {
            background: #fa5ca8;
            color: #fff;
        }
        .card.watch {
            background: #bcf3f8;
            color: grey;
        }
        .price {
            display: block;
            font-size: 18px;
            margin-top: 22px;
        } */





         /* .container {
            border: 2px solid #888;
            padding: 24px;
            max-width: 700px;
            margin: 40px auto;
            background: #f7f1ed;
        }
        .title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        .image-float {
            float: left;
            width: 180px;
            margin-right: 18px;
            margin-bottom: 8px;
            border-radius: 6px;
        }
        .content {
            font-size: 18px;
            color: #5b4c44;
        }
        .footer {
            clear: both;
            padding-top: 14px;
            color: #5b4c44;
            font-size: 17px;
        } */



         /* .container {
            border: 2px solid #888;
            padding: 24px;
            max-width: 650px;
            margin: 40px auto;
            background-color: #fff;
        }
        .title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        .card {
            display: inline-block;
            width: 180px;
            height: 260px;
            vertical-align: top;
            margin: 20px 20px 0 0;
            border-radius: 8px;
            box-shadow: 0 2px 8px rgba(0,0,0,0.07);
            text-align: center;
            font-size: 19px;
            padding-top: 60px;
        }
        .card.book {
            background: #fce34b;
            color: #444;
        }
        .card.headphones {
            background: #fa5ca8;
            color: #fff;
        }
        .card.watch {
            background: #bcf3f8;
            color: grey;
        }
        .price {
            display: block;
            font-size: 18px;
            margin-top: 22px;
        }  */
