 /* .box1{
    background-color: pink;
    padding: 10px;
    margin: 100px;
}

.box2{
    background-color: yellow;
    padding: 10px;
    margin: 100px;
} */

/* 
        .block-example {
            border: 2px solid Grey ;
            padding: 20px;
            max-width: 600px;
            margin: 40px auto;
        }
        h2 {
            font-size: 24px;
        }
        .heading {
            background-color: aquamarine;
            padding: 10px;
            font-size: 32px;
            font-weight: bold;
        }
        .description {
            background-color: #ddf8d7;
            padding: 10px;
            color: #276730;
            margin-top: 10px;
        } */



         .container {
            border: 2px solid #888;
            padding: 24px;
            max-width: 600px;
            margin: 50px auto;
            background: #fff;
        }
        .block-heading {
            font-size: 25px;
            font-weight: bold;
        }
        .main-title {
            background: #d4ecfa;
            font-size: 36px;
            font-weight: bold;
            padding: 12px 0;
            display: block;
        }
        .description {
            background: #ddf8d7;
            color: #276730;
            padding: 10px;
            margin-top: 10px;
            display: block;
        }
        .highlight {
            color: #1877b2;
            font-weight: bold;
        }