/* @media(max-width: 768px){
    body{
        background-color: red;
    }
} */

/* 
.box{
    height: 100px;
    width: 100%;
    background-color: green;
}


@media(min-width:768px){
   .box{
     background-color: blue;
   }
}


@media(min-width:1024px){
   .box{
     background-color: red;
   }
} */


/* 
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(2, 2, 42);
    padding: 1rem;
  }

.logo{
    color: white;
    font-size: 1.5rem;
}
.menu{
    position: absolute;
    top: 60px;
    right: 20px;
    width: 200px;
    display: flex;
    flex-direction: column;
    background: #444;
}
.menu a{
    color: wheat;
    padding: 1em;
    text-decoration: none;
    display: block;

}
.hamburger{
    font-size: 2rem;
    color :white;
    cursor: pointer;

}
@media (min-width:768px)
{
    .menu{
    position: static;
    background :none;
    display: flex;
    flex-direction: row;
    width: auto;
}



.hamburger{
    display: none;
}
} */



.body
{ margin:
0;
font-family: Arial, sans-serif;
}
.nav {
display: flex;
justify-content: space-between;
align-items: center;
background: #333;
padding: 1rem;
}
.logo
{ color:
#fff;
font-size: 1.5rem;
}
.menu
{display: none;
background: #444;
position: absolute;
top: 60px;
right: 20px;
width: 200px;
}
.menu a { color: #fff; 
padding: 1em;
text-decoration: none;
display: block;
}
.hamburger
{ font-size:
2rem; color:
#fff; cursor:
pointer;
}
/* Tablet & Desktop */
@media (min-width: 768px) {
.menu
{ display:
flex;
flex-direction: row;
position: static;
background: none;
width: auto;
}
.hamburger
{ display: none;
}
}